# Исключаем тестовые скрипты и полигоны
test-server.js

# Исключаем локальные логи, сгенерированные при тестах
*.log

# Исключаем скрытые файлы настройки Git и IDE
.git/
.gitignore
.editorconfig
.vscode/
.idea/

# Исключаем документацию для разработки (если будет)
CONTRIBUTING.md
🎨_examples/
